body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#display {
    font-size: 3rem;
    margin-bottom: 20px;
}

.buttons button {
    width: 100px;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    /* box-shadow: 2px 2px 5px rgb(219, 206, 82), 2px -2px 5px rgb(140, 192, 91), -2px 2px 5px rgb(127, 63, 211),
    -2px -2px 5px rgb(218, 52, 204); */
    transition: background-color 0.3s ease, transform 0.3s ease;
}


#startStop {
    background-color: green;
    color: white;
}

#startStop:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#reset {
    background-color: red;
    color: white;
}

#reset:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
